@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);















#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
#header1-1 P {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #28324e;
}
#header1-1 SPAN {
  font-family: 'Oxygen', sans-serif;
  color: #0b4687;
  font-size: 36px;
}
#header1-1 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#slider-4 SPAN {
  font-size: 25px;
  color: #2969b0;
  font-family: 'Oxygen', sans-serif;
}
#slider-4 P {
  font-size: 15px;
  color: #28324e;
}
#slider-4 I {
  font-size: 16px;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#slider-4 B {
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #2969b0;
  font-family: 'Oxygen', sans-serif;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #000000;
}
#content5-a .mbr-header .mbr-header__text {
  text-align: center;
  color: #2969b0;
  font-family: 'Oxygen', sans-serif;
}
#content5-a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-a .mbr-article {
  color: #000000;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#content5-a .mbr-article I {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#content5-a .mbr-article SPAN {
  font-size: 16px;
}
#content5-a .mbr-article DIV {
  font-size: 16px;
}
#msg-box5-5 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-5 .mbr-article {
  color: #ffffff;
}
#msg-box5-5 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
}
#form1-3 .mbr-header__text SPAN {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: #2969b0;
}



#msg-box4-7 .mbr-header__text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-article P {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-8 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-8 .mbr-article {
  color: #ffffff;
}
#header2-9 H1 {
  color: #e25041;
}
